@import '~antd/dist/antd.css';

 body {
  margin:0;
  padding: 0;
  display: inline-block;
}
.root {
  height: 100%;
}
.ant-layout-has-sider {
  height: 100%;
}
/* navbar start */
.navbar-header {
    width: 250px;
    height: 60px;
    color:white;
    font-size: 30px;
    line-height: 30px;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    margin-top: 30px;
    padding-left: 65px;
}
.navbar.navbar-inverse{
  width: 250px;
  height:100%;
  position: absolute;
}
.container {
  width: 250px;
}

#navbar {
/* margin: 60px 30px 20px; */
width: 250px;
}
.form-signin {
  width:300px;
  margin-left: 45%;
  padding-top: 15%;
}
.form-signin-heading{
  text-align: center;
}


/* narbar end */


/* coursesview start */
.loading {
  background-color: red;
  float: right;
}
.view {
  margin-left: 250px;
}

.search {
  height: 80px;
  line-height: 70px;
  margin: auto 0;
  border-bottom: 1px solid hsla(0,0%,100%,.2);
}

.search input {
  margin: auto 5px;
}
.search .text {
margin: auto 30px;
height: 20px;
}
.root {
  background-color:#fff;
}


/* coursesview end */



/* coursecard start */
.coursecard {
  margin: 20px 50px;
  /* border: 1.5px solid black; */
  
}
.thumbnail:hover{
  border-color:gray;
  border-left-width: 3px;
}
.thumbnail span {
  margin: auto 10px;
}
.thumbnail h4 {
  margin-left: 10px;
}
.action {
  text-align: center;
}
.detail, .edit, .delete {
  margin: auto 5px;
  color:grey;
}
/* coursecard end */

/* coursedetail start */
.coursedetail {
  text-align: center;
  /* margin-left: 200px; */
  padding-top: 15%;
}
.coursedetail table {
  margin-top: 60%;
  width: 200%;
  margin-left: 150%;
  line-height: 30px;
}

.courseedit {
  margin-top: 30%;
  width: 150%;
  margin-left: 80%;
  line-height: 30px;
}

.courseedit Button {
  margin-left: 28%
}
th {
  text-align: center;
}

/* courdetail end */

/* courseedit start */
.course-edit {
  text-align: center;
}
/* courseedit end */

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);  
  margin: 16px 28px 16px 0;
  float: left;
}
.form-signin {
  margin-left: 100%;
  margin-top: 20%
}